<p>user-edit works!</p>
<p>user-create works!</p>


<form [formGroup]="createForm" 
(ngSubmit)="onSubmit()" 
(keydown.enter)="$event.preventDefault()" style="margin-bottom: 50px;">
<div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" formControlName="nombre" class="form-control" id="nombre"
        aria-describedby="nombre" placeholder="Añade un nombre">
        <div *ngIf="createForm.get('nombre').invalid && (createForm.get('nombre').dirty || createForm.get('nombre').touched)"
        class="alert alert-danger">

        <div *ngIf="createForm.get('nombre').getError('required')">
            nombre is required.
        </div>
        <div *ngIf="createForm.get('nombre').getError('minlength')">
            nombre must be at least 4 characters long.
        </div>

    </div>
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control" id="email"
        aria-describedby="email" placeholder="Añade un email">
        <div *ngIf="createForm.get('email').invalid && (createForm.get('email').dirty || createForm.get('email').touched)"
        class="alert alert-danger">

        <div *ngIf="createForm.get('email').getError('required')">
            email is required.
        </div>
        <div *ngIf="createForm.get('email').getError('email')">
            email formato incorrecto.
        </div>

    </div>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="text" formControlName="password" class="form-control" id="password"
        aria-describedby="password" placeholder="Añade un password">
        <div *ngIf="createForm.get('password').invalid && (createForm.get('password').dirty || createForm.get('password').touched)"
        class="alert alert-danger">

        <div *ngIf="createForm.get('password').getError('required')">
            password is required.
        </div>
        <div *ngIf="createForm.get('password').getError('minlength')">
            password formato incorrecto.
        </div>

    </div>
</div> 

    <button class="btn btn-success" [disabled]='createForm.invalid' >Enviar</button>
</form>

<div *ngIf="create"
class="alert alert-success" role="alert">
    usuario actualizado con éxito
</div>

<div *ngIf="errores" style="margin-bottom: 50px;"
class="alert alert-warning" role="alert">
<h2>Errores</h2>
<p>{{ message }}</p>
</div>
